/* CSS RESET STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-size: 100%;
}
table {
border-spacing: 0;
}
img {
border: 0;
}


/* CLEARFIX HACK */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*
Samsung A50 viewport width is 412px.	
Other companies have their minimum at 320px.

FOR HTML EMAIL
min size 320px;
max size 720px;
so far...
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
