/* CSS RESET STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* CLEARFIX HACK */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
	font-size: 16px;
}

#container {
	width: 100vw;
	height: 100vh;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.background {
	/*image is 14:9 aspect ratio*/
	/*default image width 1000px and height 643px	*/	
	/*used aspect-ratio sizing to adjust width and height for different media queries*/	
	background-image: url(/Resources/background-img.png);
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 100% 100%;
	z-index: 2;
	position: relative;
}

/*does not match well, use another white light*/
.white-light {
/* original 576w x 228h */
	background-image: url(Resources/white-light.png);
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 100% 100%;	
	width: 674px;
	height: 267px;
	position: absolute;
	bottom: -39%;
	left: 4.5%;
}


/*used aspect-ratio sizing to adjust width and height for different media queries*/
.pages {
	/*original 344w x 84h	*/
	background-image: url(Resources/masking-tape-1v2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 7%;
	top: 10%;
	transform: rotate(-10deg) skewY(15deg);	
}
.projects {
/*	original 208w x 85h*/
	background-image: url(Resources/masking-tape-2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 8%;
	top: 29%;	
}

.knob-1 {
/*	original 86w x 87h*/
	background-image: url(Resources/knob-1v2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 9.5%;
	top: 15%;
}
.knob-2 {
/*	original 86w x 87h*/
	background-image: url(Resources/knob-2v2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 9.7%;
	top: 37%;
}

/*container is used to display as flex and have items follow the same path as background class*/
.crt-container {
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 771px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.follow-background {
/*	background-color: red;*/
/*	set width and height equal to background class*/
	position: relative;
}

/*content that can be seen inside the CRT*/
/*set the font-size to adjust accoring to the width of.....*/
/*or scale content on each query*/
.about,.skills,.certificates,.contact {
	background-image: url(Resources/crt-background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;		
	position: absolute;
	left: 11%;
	top: 8%;
}

.project1,.project2,.project3,.project4 {
	background-image: url(Resources/crt-background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;		
	position: absolute;
	left: 11%;
	top: 8%;	
}
/*sets the padding of the crt to display content in the middle*/
.crt-projects,.crt-pages {
	padding: 4%;
}
h1{
/*	background-color: greenyellow;*/
	height: 100%;
	text-align: center;
	font-size: 2em;
	color: lawngreen;
}

.hide {
	display: none;
}

.under-dev {
	display: none;
	color: orange;
	text-align: center;
	position: absolute;
	height: 100px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


/*
 Extra small devices (phones, 320px and down) 
@media only screen and (min-width: 320px) {
	.background {
		width: 320px;
		height: 206px;		
	}		
}
*/


@media only screen and (max-width: 320px) {
	.under-dev {
		display: block;
	}
	.container {
		display: none;
	}
}

/*320px and up*/
@media only screen and (min-width: 320px) {
	.background,.follow-background  {
		width: 300px;
		height: 206px;		
	}

	.pages {
		width: 40px;
		height: 10px;
	}	
	.projects{
		width: 36px;
		height: 15px;
		top: 29.5%;
	}	
	.knob-1 {
		width: 25px;
		height: 26px;
		top: 15.2%;
	}	
	.knob-2 {
		width: 26px;
		height: 23px;
		top: 37.9%;
	}	
	.about,.skills,.certificates,.contact,.project1,.project2,.project3,.project4 {
		width: 171px;
		height: 140px;
	}	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/*maybe change the image for background from here downwards*/
@media only screen and (min-width: 600px) {
	.background,.follow-background  {
		width: 600px;
		height: 386px;		
	}
	.pages {
		width: 79px;
		height: 19px;
	}
	.projects{
		width: 74px;
		height: 30px;
	}	
	.knob-1 {
		width: 52px;
		height: 53px;
		top: 15%;
	}	
	.knob-2 {
		width: 53px;
		height: 50px;
		top: 37%;
	}
	.about,.skills,.certificates,.contact,.project1,.project2,.project3,.project4 {
		width: 337px;
		height: 262px;
	}	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.background,.follow-background  {
		width: 768px;
		height: 494px;		
	}	

	.pages {
		width: 100px;
		height: 24px;
	}
	.projects{
		width: 95px;
		height: 39px;
	}
	.knob-1 {
		width: 65px;
		height: 66px;
	}
	.knob-2 {
		width: 66px;
		height: 63px;
	}
	.about,.skills,.certificates,.contact,.project1,.project2,.project3,.project4 {
		width: 431px;
		height: 335px;
	}		
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.background,.follow-background {
		width: 992px;
		height: 638px;		
	}	

	.pages {
		width: 130px;
		height: 32px;
	}
	.projects{
		width: 125px;
		height: 51px;
	}	
	.knob-1 {
		width: 86px;
		height: 87px;
	}	
	.knob-2 {
		width: 87px;
		height: 84px;
	}	
	.about,.skills,.certificates,.contact,.project1,.project2,.project3,.project4 {
		width: 556px;
		height: 432px;
	}	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
/*dont set background to min-width to allow spacing when mobile phones are in landscape*/
	.background,.follow-background {
		width: 1200px;
		height: 771px;		
	}

	.pages {
		width: 160px;
		height: 39px;	
	}
	.projects{
		width: 150px;
		height: 61px;
	}
	.knob-1 {
		width: 105px;
		height: 106px;
	}
	.knob-2 {
		width: 106px;
		height: 103px;
	}
	.about,.skills,.certificates,.contact,.project1,.project2,.project3,.project4 {
		width: 675px;
		height: 525px;
	}
}

/*additional media queries for landscapes and others dimension of client*/


/*images do not load if <img> tag is used for local files; opted for background-image */